/* ========== Version 0.0.1 ========== */

/* ----- WPBakery Page Builder ----- */
#vc_license-activation-notice {
	display: none !important;
}
/* ----- Wordfence ----- */
#toplevel_page_Wordfence li:last-child,
.aWordfencePluginCallout,
.wf-blocks-summary td.wf-premium,
.wf-blocks-summary th.wf-premium,
#waf .wf-block-list.wf-block-list-horizontal:last-child {
	display: none !important;
}
.wf-scan-step-premium {
    display: none !important;
}
#wf-dashboard .wf-block-list.wf-block-list-horizontal.wf-block-list-nowrap.wf-waf-coverage:last-child {
	display: none !important;
}
/* ----- Yoast SEO ----- */
#toplevel_page_wpseo_dashboard ul li:last-child,
.yoast_premium_upsell_admin_block,
.wpseo_content_cell#sidebar-container,
#wp-admin-bar-wpseo-licenses,
[data-slug="wordpress-seo"] [class="1"] {
    display: none !important;
}
/* ----- Jetpack ----- */
.dops-banner.dops-card.is-upgrade-personal,
.dops-banner.dops-card.is-upgrade-premium,
.dops-card.dops-section-header.has-card-badge,
.dops-card.dops-section-header.has-card-badge + .dops-card.jp-dash-item__card,
#jp-navigation {
	display: none !important;
}
/* ----- All in One SEO Pack ----- */
[data-slug="all-in-one-seo-pack"] .proupgrade,
.upgrade_menu_link,
#aio-pro-update,
#aioseop-about .aioseop_metabox_text strong,
.aioseop_metabox_text ul,
.wincherad {
    display: none !important;
}
/* ----- UpdraftPlus ----- */
[data-slug="updraftplus"] [class="0"],
#wp-admin-bar-updraft_admin_node_premium,
#updraft-navtab-addons {
    display: none !important;
}


/* ========== Version 0.0.2 ========== */

/* ----- Broken Link Checker ----- */
#managewp-ad {
	display: none !important;
}
#blc-admin-content > * {
	margin-right: 0 !important;
}
/* ----- iThemes Security ----- */
.itsec-module-type-pro,
#itsec-sidebar-widget-pro-upsell,
#itsec-sidebar-widget-backupbuddy-cross-promo,
#itsec-sidebar-widget-sync-cross-promo,
#itsec-sidebar-widget-malware-scan,
#itsec-sidebar-widget-support,
#toplevel_page_itsec li:last-child {
    display: none !important;
}
/* ----- Smush ----- */
#sui-cross-sell-footer,
.sui-row.sui-cross-sell-modules,
.sui-cross-sell-bottom,
.smush-avg-pro-savings,
.sui-upsell-row {
	display: none !important;
}